<div class="top">
  <img src="../assets/images/logo_02.png"/>
</div>
<div class="col-lg-2">
<accordion>
  <accordion-group heading="管理首页">
  </accordion-group>
  <accordion-group #group>
    <div accordion-heading>
      系统管理     
    </div>
  </accordion-group>
  <accordion-group heading="CMS管理" >
    
  </accordion-group>
  <accordion-group heading="OA管理">
    
  </accordion-group>
   <accordion-group heading="CRM管理" >
    <p>来访来电</p>
    <p>客户管理</p>
    <p>项目管理</p>
    <p>业绩统计</p>
    <p>来电统计</p>
  </accordion-group>
</accordion>
</div>
<div class="col-lg-10">
  <list-root></list-root> 
</div>
