.inp-group1 input{
	height:35px;
	width:130px;
}
.inp-group2 {
	margin-top: 15px; 
}
.form-control{
	display: inline-block;
	width: 13%
}
.search{
	margin-left: 15px
}
.edit{
	background-color: #852b99;
	height: 23px;
	color: white;
	line-height: 23px;
	padding: 0 12px;
	border-radius: 1px;
	font-size: 12px;
}
.name{
	color: #2f68d0;
}
.guwen{
	color: #2ed755;
}
.tab{
	margin-top: 28px;
}
.title{
	margin:20px 0;
	color: #a2a2a2;
	font-size: 16px;
}
.title span{
	color: #7e7e7e;
	font-size: 20px;
}